* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Handlee, sans-serif, "Monotype Corsiva", Rosemary, "Microsoft Himalaya", "Lucida Calligraphy";
  font-size: 20px; }

*::-moz-selection {
  background-color: #33257e;
  color: white; }

*::selection {
  background-color: #33257e;
  color: white; }

body {
  background-color: #212139;
  color: white; }

.logotipo {
  font-family: 'Comfortaa', cursive;
  font-size: 5em;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px -1px 1px .8px white;
  box-shadow: 0px -1px 1px .8px white; }

.container {
  margin: 40px auto;
  max-width: 500px;
  width: 90%; }

.logo {
  margin-bottom: 40px;
  width: 100%; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: relative;
  top: .2em;
  margin-right: .2em; }

.fila {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }

.col {
  width: 50%; }

.app label {
  line-height: 40px; }

.app input {
  border: none;
  text-align: center; }

.app .btn {
  background-color: #684bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  text-align: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  vertical-align: top;
  width: 100%; }
  .app .btn:hover {
    background-color: #9681fd; }
  .app .btn.false {
    background-color: #33257e; }
    .app .btn.false:hover {
      background-color: #9681fd; }
  .app .btn.icon-check {
    color: #0bf50b;
    font-size: 23px; }
  .app .btn.icon-times {
    color: #da0202;
    font-size: 23px; }
  .app .btn.icon-minus, .app .btn.icon-plus {
    font-size: 23px; }

.app .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.app .botones div {
  width: 100%; }
  .app .botones div:nth-child(1) button {
    border-radius: 4px 0 0 4px; }
  .app .botones div:nth-child(2) input {
    background-color: #33257e;
    color: white;
    cursor: default;
    height: 40px;
    width: 100%; }
  .app .botones div:nth-child(3) button {
    border-radius: 0 4PX 4PX 0; }

.app .fila.generar {
  margin-bottom: 10px; }
  .app .fila.generar .col:nth-child(1) {
    width: 30%; }
  .app .fila.generar .col:nth-child(2) {
    width: 65%; }
  .app .fila.generar .btn-generar {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    position: relative;
    width: 100%; }
    .app .fila.generar .btn-generar::after {
      background-color: #684bff;
      content: "";
      display: inline-block;
      height: 14px;
      position: absolute;
      right: -7px;
      top: 13px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      width: 14px; }
    .app .fila.generar .btn-generar .icon-lock {
      margin-left: 20px;
      font-size: 18px;
      color: #13d401; }
  .app .fila.generar .col:nth-child(1):hover .btn-generar::after {
    background-color: #9681fd; }
  .app .fila.generar .input-password {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.253);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%; }
    .app .fila.generar .input-password:hover {
      border: 1px solid rgba(255, 255, 255, 0.5); }
  .app .fila.generar input::-moz-selection {
    background-color: #212139; }
  .app .fila.generar input::selection {
    background-color: #212139; }

.app .fila.alerta {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .app .fila.alerta .col {
    width: 65%; }
    .app .fila.alerta .col .alerta-copiado {
      color: rgba(255, 255, 255, 0);
      font-size: 10px;
      text-align: center;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .app .fila.alerta .col .alerta-copiado p {
        font-size: 15px; }
      .app .fila.alerta .col .alerta-copiado.active {
        color: white; }

@media screen and (max-width: 500px) {
  .logotipo {
    width: 90%;
    font-size: 3em;
    margin: auto; }
  .app .fila {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px; }
    .app .fila .col {
      margin: auto;
      margin-bottom: 10px;
      width: 85%; }
    .app .fila.generar {
      border-top: 1px solid rgba(255, 255, 255, 0.493);
      padding-top: 30px; }
      .app .fila.generar .col:nth-child(1) {
        width: 60%; }
        .app .fila.generar .col:nth-child(1) .icon-lock {
          margin-left: 5px;
          font-size: 16px;
          color: #13d401; }
        .app .fila.generar .col:nth-child(1) .btn-generar:after {
          top: auto;
          left: 50%;
          bottom: -7px; }
      .app .fila.generar .col:nth-child(2) {
        width: 85%;
        padding-top: 10px; } }
