// Definicion de variables [$nameVar: value]
$cNavy: #001f3f;
$cBlue: #0074D9;
$cAqua: #7FDBFF;
$cTeal: #39CCCC;
$cOlive: #3D9970;
$cGreen: #2ECC40;
$cLime: #01FF70;
$cYellow: #FDDC00;
$cOrange: #FF851D;
$cRed: #bb0a01;
$cMaroon: #85144b;
$cFushsia: #F012BE;
$cPurple: #B10DC9;
$cBlack: #111;
$cGray: #AAAAAA;
$cSilver: #DDD;
$cWhite: #fff;